<label for="filterText" class="form-label mt-5">Renk Ara</label>
<div class="d-flex mt-2 mb-3 justify-content-around">
  <div class="">
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText">
    </div>
    <div class="btn btn-primary " *ngIf="checkClaims()" routerLink="color/add">+</div>
  </div>


  <ul class="list-group">
    <li class="list-group-item list-group-item-primary" (click)="setDefaultColorItems()" routerLink="">Colors</li>
  <li (click)="setCurrentColor(color)" *ngFor="let color of colors | colorPipe:filterText" 
  routerLink="/cars/color/{{color.colorId}}"
  [class]="getCurrentColorClass(color)">
    {{ color.colorName }}
  </li>
</ul>
