<div id="carouselExampleDark" class="carousel carousel-dark slide mb-5">
  <div class="carousel-indicators">
    <button *ngIf="carDetail.images.length == 0" type="button" data-bs-target="#carouselExampleDark"
      data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

    <button *ngFor="let image of carDetail.images; let i = index" type="button"
      [attr.data-bs-target]="'#carouselExampleDark'" [attr.data-bs-slide-to]="i"
      [ngClass]="{ active: i === currentIndex }"></button>
  </div>

  <div class="carousel-inner" *ngIf="carDetail.images.length == 0">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{{ defaultImagePath }}" class="d-block mx-auto d-block text-center" />
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
  </div>

  <div class="carousel-inner">
    <div *ngFor="let image of carDetail.images; let i = index" [ngClass]="setCarouselItemActive(i)"
      data-bs-interval="10000" >
      <img [src]="setImage(image)" class="img-fluid mx-auto d-block text-center rounded"/>
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" (click)="changeSlide('prev')">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" (click)="changeSlide('next')">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
