
  <div class="ms-auto mb-2 mt-2 mb-lg-0 d-flex justify-content-end">
      <div class="d-flex" *ngIf="!isAuthenticated()">
        <button class="btn btn-outline-success" routerLink="login" type="submit">{{buttonTitle}}</button>
      </div>

    <div *ngIf="isAuthenticated()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{userDto.firstName}} {{userDto.lastName}}
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logout()">Çıkış Yap</a></li>
        </ul>
    </div>
  </div>

