<app-carousel [carDetail]="carDetail"></app-carousel>
<ul class="list-group mb-3">
  <li class="list-group-item">
    <span class="fw-bold">Araç Numarası: </span>
    <span>{{ carDetail.carId }}</span>
  </li>
  <li class="list-group-item">
    <span class="fw-bold">Araç Markası: </span>
    <span>{{ carDetail.brand.brandName }}</span>
  </li>
  <li class="list-group-item">
    <span class="fw-bold">Araç Rengi: </span>
    <span>{{ carDetail.color.colorName }}</span>
  </li>
  <li class="list-group-item">
    <span class="fw-bold">Araç Ücreti: </span>
    <span>{{ carDetail.dailyPrice }}</span>
  </li>
</ul>

<div class="row">
  <div class="col-md-"></div>

</div>
<div class="d-flex justify-content-between">
  <div class="mx-auto">
      <button type="button" class="btn btn-primary btn-lg" routerLink="rental/{{carDetail.carId}}">Aracı Kirala</button>
  </div>
  <div>
      <button type="button" class="btn btn-secondary" routerLink="update/{{carDetail.carId}}">:</button>
  </div>
</div>