<form [formGroup]="carUpdateFormGroup">
    <div class="mb-3">
        <label for="brandId">Marka Seçiniz</label>
        <div class="form-group" formGroupName="brand">
            <select class="form-select" aria-label="Default select example" formControlName="brandId">
                <option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.brandName}}</option>
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label for="colorId">Renk Seçiniz</label>
        <div class="form-group" formGroupName="color">
            <select class="form-select" aria-label="Default select example" formControlName="colorId">
                <option *ngFor="let color of colors" [value]="color.colorId">{{color.colorName}}</option>
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label for="modelYear">Model Yılı</label>
        <div class="form-group">
            <input type="text" id="modelYear" class="form-control" formControlName="modelYear"
                placeholder="Marka Adı" />
        </div>
    </div>
    <div class="mb-3">
        <label for="dailyPrice">Günlük Ücret</label>
        <div class="form-group">
            <input type="text" id="dailyPrice" class="form-control" formControlName="dailyPrice"
                placeholder="Marka Adı" />
        </div>
    </div>
    <div class="mb-3">
        <label for="description">Açıklama</label>
        <div class="form-group">
            <input type="text" id="description" class="form-control" formControlName="description"
                placeholder="Marka Adı" />
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-end gap-2">
                <p-fileUpload mode="basic" chooseIcon="pi pi-plus" accept="image/*" maxFileSize="1000000"
                     (onSelect)="addImage($event)"  [auto]="true" (onInput)="resetFileInput($event)"/>
                <p-fileUpload mode="basic" chooseIcon="pi pi-pencil" accept="image/*" maxFileSize="1000000"
                    (onSelect)="updateImage($event)" [auto]="true"/>
                <p-button icon="pi pi-times" severity="danger" (click)="deleteImage()"></p-button>
            </div>
        </div>
    </div>

    <app-carousel [carDetail]="carDetail"></app-carousel>

    <button class="btn btn-primary" (click)="updateCar()"> Düzenle</button>


</form>